html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 50px; }

/* End of CS 160 Code                                                                      */

.chapter-header {
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

#name-and-bio {
  /* border: 1px solid red; */
  /* float: left; */
  padding: 10px 0 10px 10px;
}

#name-tag {
  font-size: 16pt;
}

.sub-name-tag {
  font-size: 10pt;
}

#profile-pic {
  /* background-color: #00b2dd; */
  /* border: 1px solid #00b2dd; */
  float: left;
  padding: 10px 0 10px 10px;
  width: 22%;
}

.weekly-header {
  font-size: 24pt;
  padding: 10px 0 10px 10px;
}

.content-header {
  font-size: 16pt;
  padding: 10px 0 10px 10px;
}
.questions {
  padding: 10px 0 10px 10px;
}

#wrapper {
  /* border: 1px solid purple; */
  overflow: hidden;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) { 
    #profile-pic {
      /* background-color: #00b2dd; */
      /* border: 1px solid #00b2dd; */
      float: none;
      padding: 10px 0 10px 10px;
      width: 22%;
    }

    
}

/* Portrait */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: portrait) { 

    #profile-pic {
      /* background-color: #00b2dd; */
      /* border: 1px solid #00b2dd; */
      float: none;
      padding: 10px 0 10px 10px;
      width: 22%;
    }

}

/* Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (orientation: landscape) { 

    #profile-pic {
      /* background-color: #00b2dd; */
      /* border: 1px solid #00b2dd; */
      float: left;
      padding: 10px 0 10px 10px;
      width: 34%;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
